body {
  background-color: gray;
  font-family: 'Hind Vadodara', sans-serif;
  width: 412px;
  margin: auto;
}

.container {
  background-color: white;
  border-radius: 5px;
}

ul {
  padding-left: 0;
}

/* style for the list items */
.container li {
  cursor: pointer;
  font-size: 18px;
  list-style-type: none;
  border-bottom: black solid 1px;
}

.check {
  padding: 20px;
  padding-left: 55px;
}

/* hide default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* customizing label */
.check {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* style checkbox */
.checkmark {
  position: absolute;
  cursor: pointer;
  left: 15px;
  height: 24px;
  width: 24px;
  border: 1px solid gray;
  border-radius: 50%;
}

/* on mouse-over, add fill */
.check:hover {
  cursor: pointer;
  background-color: lightgray;
  transition: 0.2s;
}

li:hover input ~ .checkmark {
  cursor: pointer;
  background-color: gray;
}

/* when checked, keep fill */
li input:checked ~ .checkmark {
  background-color: gray;
  cursor: pointer;
}

/* create indicator/checked (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when clicked */
li input:checked ~ .checkmark:after {
  display: block;
}

/* styling checkmark */
li .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* round corners of first and last list items */
#first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
